body {
    padding: 20px 0 20px 0;
}

.header {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.header h3 {
    margin: 0 auto;
    line-height: 40px;
}

.money {
    color: green;
}

/* ******************** LEFT ******************** */

#left {
    background-color: #265770;
    padding-bottom: 100%;
    margin-bottom: -100%;
}

#svgDiv {
    margin-top: 10px;
}

#svgDiv.affix {
    position: fixed;
    top: 20px;
    text-align: center;
}

@media (min-width: 768px) {
    #svgDiv object {
	width: 410px;
    }
}

@media (min-width: 992px) {
    #svgDiv object {
	width: 527px;
    }
}

@media (min-width: 1200px) {
    #svgDiv object {
	width: 643px;
    }
}

/* ******************** RIGHT ******************** */

#right h3 {
    text-align: center;
}

.slider.slider-horizontal {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.slider-selection {
    background: #f1e05a;
}

.slider-track-high {
    background: #eee;
}

.btn-group-vertical {
    display: block;
}

.bootstrap-switch {
    display: block;
    margin: 0 auto;
}

/* ******************** Modals ******************** */
#untestedBrowserModal .modal-header,
#mobileModal .modal-header {
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}